PORT=3000

APP_NAME=Starter
APP_ENV=local

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=nest-typeorm
DB_SCHEMA=
DB_MIGRATION_RUN=true
DB_LOGGING=true

LOG_LEVEL=debug
LOG_HTTP=false

SWAGGER_ENABLE=true
SWAGGER_PATH=api/swagger
GLOBAL_PREFIX=api

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
CACHE_TTL=300 # seconds
CACHE_PREFIX=